/* *{
    margin: 0;
    padding: 0;
} */

.container{
    border: 1px solid gray;
    height: 120px;
    margin: 10px;
    padding: 4px;
    overflow-x: hidden;
}
#contain{
    height: 310px;
}

.item1{
    width: 710px; 
    animation-name: p1;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

@keyframes p1 {
    0%{
        margin-left: 100%;
        width: 100%;
    }
    100%{
        margin-left: 0%;
        width: 710px;
    }
}

.item2{
    width: 710px;
    animation-name: lrg;
    animation-duration: 4s;
}

@keyframes lrg{
    100%{
        margin-left: 0%;
        width: 100%;
    }
   70% {
        margin-left: 70%;
        width: 90%;
        font-size: 150%;
        
    }
    0%{
        margin-left: 100%;
        width: 100%;
    }
}

.item3 {
    width: 100%;
    animation: watch 3s ease-in-out infinite;
    animation-direction: alternate-reverse;
}

@keyframes watch {
    0%{
        transform: translateX(0);
      
    }
    100%{
        transform: translateX(100%);
    
    }
}

.animate__fadeIn {
    animation-duration: 5s;
  }